body
    {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

.white a {
	color: #fff;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
}
h1,
h2,
h3,
h4
    {
        font-weight: bold;
    }
p { line-height: 1.6em; }
.btn-primary{
    background-color: #e92929;
    border-color:#e92929;
}



img
    {
        max-width: 100%;
        height: auto;
    }
.overlay
    {
       width: 100%;
       height: 100%;
       background-color:rgb(27, 18, 18);
       padding-top: 90px;
       padding-bottom: 90px;
    }
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner
    {
         width: 30px;
        height: 30px;
        background-color: #28a7e9;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0!important;
    }

.navbar-default .navbar-header
    {
        padding-top: 10px;
        padding-left: 20px;
    }

.navbar-default .navbar-brand
    {
        color: #876afd;
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: #666;
        font-size: 13px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #f50000;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #28a7e9;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }

#carousel .carousel
    {
        margin-top: 30px;
        padding-top: 40px;
    }

#home
    {
    /* background: url('../img/contact-bg.jpg') no-repeat; */
    background-size: cover;
    color: #fff;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    }
#home p
    {
        font-size: 20px;
        line-height: 2em;
    }
#home img
    {
        display: inline-block;
        margin-top: 30px;
    }
#divider
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#divider .fa 
    {
        color: #f52929;
        font-size: 60px;
    }

#divider h3
    {
        font-size: 20px;
    }
#feature
    {
        background: #f8f8f8;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#feature p
    {
        padding-top: 3px;
    }
#feature span
    {
        float: left;
    }
#feature .fa
    {
        background: #f52929;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-right: 20px;
    }
#feature1 
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
#feature1 p
    {
        padding-top: 3px;
    }


#feature2 
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }

#feature2 img
    {
        height: 500px;
        width: 600px;
        padding-left: 50px;
    }


#feature2 p
    {
        padding-top: 3px;
        font-size: 20px;
    }

#feature2 h5
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: medium;
    }

#feature2 .o 
    {
        text-align: justify;
        padding-top: 50px;
    }
    

#divider2 .tombol .btn

    {
        text-align: center;
        font-size: 20px;
        background: red;
        border: 1px solid #d40c0c;
        border-radius: 3px;
        color: #ffffff;
        font-weight: bold;
        padding-right: 50px;
        padding-left: 50px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }

#divider2 
    {
        background: rgb(243, 212, 212);
        padding-top: 20px;
    }



#feature1 span
    {
        float: left;
    }
#feature1 .fa
    {
        background: #f52929;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-right: 20px;
    }

#feature1 .image
    {
        padding-top: 20px;
    }

#feature .tombol .btn

        {
            text-align: center;
            font-size: 20px;
            background: red;
            border: 1px solid #d40c0c;
            border-radius: 3px;
            color: #ffffff;
            font-weight: bold;
            padding-right: 120px;
            padding-left: 120px;
            margin-top: 20px;
            margin-bottom: 30px;
            transition: all 0.3s ease;
        }


#feature1 .tombol .btn

        {
            text-align: center;
            font-size: 20px;
            background: red;
            border: 1px solid #d40c0c;
            border-radius: 3px;
            color: #ffffff;
            font-weight: bold;
            padding-right: 120px;
            padding-left: 120px;
            margin-top: 20px;
            margin-bottom: 30px;
            transition: all 0.3s ease;
        }


#pricing
    {
        background: #f8f8f8;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        box-shadow: 0 4px 15px rgba(214, 205, 205, 0.897);
    }
#pricing h2
    {
        padding-bottom: 60px;
    }
#pricing .pricing
    {
        box-sizing: initial;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(71, 67, 67, 0.897);
    }
#pricing .active
    {
        position: fixed;
        bottom: 100px;
    }
#pricing .pricing .pricing-title
    {
        background: #d1d1d1;
        color: rgb(48, 0, 0);
        font-weight: bold;
        padding: 30px;
        border-radius: 20px  20px 0 0;
    }


#pricing .pricing .pricing-title .gamm h4
    {
        font-size: 17px;
    }

    
#pricing .pricing .pricing-title .tv
    {
        padding-bottom: 10px;
        padding-top: 10px;
    }



#pricing .pricing .pricing-title p
    {
        font-size: 20px;
    }

#pricing .pricing .pricing-title .pe p
    {
        font-size: 40;
    }

#pricing .pricing ul
    {
        padding: 0;
        margin: 0;
    }

#pricing .pricing .s ul
    {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }


 #pricing .pricing .z ul
    {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0;
    }

#pricing .pricing ul
    {
        display: block;
        list-style: none;
        padding: 7px;
        color: black;
    }

#pricing .pricing .ket ul
    {
        padding-left: 70px;
    }

#pricing .pricing .ket .k ul
    {
        padding-bottom: 18px;
    }

#pricing .pricing .ket li 
    {
        padding-right: 50px;
        line-height: 20px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }



#pricing .pricing .btn
    {
        background: transparent;
        border: 1px solid #d40c0c;
        border-radius: 3px;
        color: #d40c0c;
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }

#pricing .pricing .btn:hover 
    {
        background: #d40c0c;
        color: #fff;
    }

#sk .text4
    {
        padding-top: 50px;
        padding-left: 65px;
        padding-right: 70px;
        text-align: justify;
    }

#download
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
#download h3
    {
        font-weight: normal;
        font-size: 40px;
        font-family: sans-serif;
    }

#download .klik 
    {
        padding-top: 30px;
    }

#download .btn
    {
        background: transparent;
        border: 1px solid #d40c0c;
        border-radius: 3px;
        color: #d40c0c;
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }



footer
    {
        background: rgb(46, 24, 24);
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }

footer p
    {
     color: whitesmoke;
    }

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #pricing .active {
        bottom: 0;
    }
    .pricing {
        margin-bottom: 20px;
    }
    #feature img, #download img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #pricing, #download {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #contact .overlay {
        padding-top: 40px;
    }
}
@media screen and ( max-width: 360px ){
    .pricing
        {
            padding-bottom: 40px;
        }
}